# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore local configuration files
*.env

# Ignore SQL Server-related files
*.mdf
*.ldf
*.ndf

# Ignore temporary or backup files
*.log
*.bak
*.tmp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore exported data or diagrams (if applicable)
*.csv
*.png
*.pdf

# Ignore dbt log files
dbt_debug_error.txt
dbt_debug_output.txt
dbt_run_error.txt
dbt_run_output.txt
dbt_sql_data_warehouse/logs/dbt.log
